<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059742441724-pinjn649rlf76bn3i5bal6kedu08lpas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059742441724-pinjn649rlf76bn3i5bal6kedu08lpas</string>
	<key>API_KEY</key>
	<string>AIzaSyDFSKLHpCIGhHEeRWK3ii5D9Bnj0LdfzlY</string>
	<key>GCM_SENDER_ID</key>
	<string>1059742441724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.workshop.ankaraWorkshop</string>
	<key>PROJECT_ID</key>
	<string>ankara-workshop</string>
	<key>STORAGE_BUCKET</key>
	<string>ankara-workshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059742441724:ios:398076cc792677e367f779</string>
	<key>DATABASE_URL</key>
	<string>https://ankara-workshop-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>